body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron{
  background-color: #9575CD;
  color: floralwhite;
}

.bar{
  background-color: black;
}

.card{
  width: 18rem;
  margin: 20px 0px 20px 0px;
}

.in{
  margin: 0 auto;
  background-color:rgb(228, 169, 42);
}

.banner{
  background-color: rgb(34, 12, 73)
}

.cards{
  background-color: rgb(34, 12, 73);
}

